.open-sans-uniquifier {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

*{
  margin: 0;
}

/* heder style */
header{
  background-image: url(images/banner/banner2.png);
  background-size: cover;
  height: 860px;
  background-repeat: no-repeat;
}
.hed{
  justify-items: end;
  padding: 215px;
}
.header-title{
  font-size: 65px;
  font-weight: bold;
  text-align: right;
  width: 525px;
}
.header-des{
  font-size: 16px;
  text-align: right;
  width: 494px;
  margin-top: 25px;
}
.header-btn{
  width: 160px;
  height: 60px;
  background-color: #F15B22;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}
/* my failures */
.failures{
  display: flex;
  max-width: 1600px;
  align-items: center;
  margin: 50px 210px;
}
.failure-title{
  width: 288px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin-left: 110px;
}
.failure-dsc{
  width: 416px;
  color: #444343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 25px 0px 20px 110px;
}
.failure-list{
  color:#444343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-left: 70px;
  list-style: none;
}
.failure-list li::before {
  content: "\2713"; 
  color:#16D887; 
  font-weight: bold;
  font-size: 20px;
  padding-right: 10px;
}
/* my-paln */
.my-paln{
  font-size: 40px;
  font-weight: bold;
  font-family: "Work Sans";
  text-align: center;
}
.plans-items{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
  text-align: center;
}
.plane-title{
  color: var(--Dark-01, #151414);
  text-align: center;
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 700;
  margin:15px 0px;
}
.plan-des{
  color: var(--Dark-03, #737272);
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
/* mindset */
.mindset{
  background-image: url('images/watch.png'), url('images/gradient2.png');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  width: 1140px;
  height: 300px;
  margin: 130px auto;
  border-radius: 8px;
  align-items: center;
  z-index: 1;
}
.positive{
  width: 459px;
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  
}
.btn-call-now{
  color: #F15B22;
  width: 160px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: 0;
  margin-top: 24px;
}
.mind{
  padding: 60px;
}